@tailwind base;

@tailwind components;

@tailwind utilities;

.wavy {
  text-decoration-style: wavy;
}

.my-name {
  top: 100px;
  right: 50px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  font-size: 96px;
}

.transition-1 {
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .my-name {
    transform: unset;
  }
}
